.wrong {
    opacity: 0.5;
}

.wrong:before {
    content: "Wronggg!!!";
    font-size: 3rem;
    color: black;
}

.right:before {
    content: "RIGHT";
    font-size: 3rem;
    color: black;
}

.color_ {
    color: white;
    font-size: 2.5rem;
}

.headerbg {
    background-size: 250px;
    background-image: url(/headerBg.jpg);
    background-repeat: repeat;
}

.modal-backdrop {
    position: unset !important;
}